<p>Current Area: <%= player.room.area.name %> : Level <%= player.room.area.level %></p>

<p>Current Room: <%= player.room.name %></p>
<p>Current Player: <%= player.name %></p>

<p>
<ul>Exits:
  <% player.room.exits.each do |exit| %>
      <li><%= link_to exit.name, change_room_path(exit.leads_to_room_id, player.id), :remote => :true %></li>
  <% end %>
</ul>
</p>

<p>
  <%= player.room.description %>
</p>


<table border="1" width="100%">
  <tr>
    <td>
      <ul>NPCs
        <% player.room.players.each do |playr| %>
            <li><%= playr.name %>
              <form action="<%= challenge_path %>" method="post" data-remote="true">
                  <%= select_tag('challenge_strategy', options_for_select(playr.strategies.collect{|s| [s.name,s.id]})) %>
                  <%= hidden_field_tag(:challenge_f1, player.id)%>
                  <%= hidden_field_tag(:challenge_f2, playr.id)%>
                  <%= submit_tag('fight')%>
              </form>
            </li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>Players
        <% player.room.players.each do |playr| %>
            <li><%= playr.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
