<ul>Strategies
      <form action="<%= strategies_path %>" method="post" data-remote="true">
      <table>
       <tr>
          <th>name</th>
          <td><%= text_field_tag 'strategy[name]' %></td>
        </tr>
        <tr>
          <th>slot 1</th>
          <td><%= select_tag 'strategy[slot_1]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 2</th>
          <td><%= select_tag 'strategy[slot_2]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 3</th>
          <td><%= select_tag 'strategy[slot_3]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 4</th>
          <td><%= select_tag 'strategy[slot_4]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 5</th>
          <td><%= select_tag 'strategy[slot_5]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 6</th>
          <td><%= select_tag 'strategy[slot_6]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 7</th>
          <td><%= select_tag 'strategy[slot_7]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 8</th>
          <td><%= select_tag 'strategy[slot_8]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 9</th>
          <td><%= select_tag 'strategy[slot_9]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>

        <tr>
          <th>slot 10</th>
          <td><%= select_tag 'strategy[slot_10]',options_for_select(player.attacks.collect { |a| [a.name, a.id] }) %></td>
        </tr>
        <%= hidden_field_tag :id_player, player.id %>
        <tr>
          <td><%= submit_tag 'Create' %></td>
          <td></td>
        </tr>

      </table>
 </form>
  <p>Existing</p>

  <% player.strategies.each do |strategy| %>
      <li><%= strategy.name %></li>
  <% end %>
</ul>