<script>
    $(function () {
        var faye = new Faye.Client('http://localhost:9292/faye');

        faye.subscribe('/player/<%= @player.id %>', function (data) {
            if (data.attr == 'level') {
                $('#player_level').text(data.data);
            }
            if (data.attr == 'health') {
                $('#player_health').text(data.data);
            }
            if (data.attr == 'player_info') {
                $('#player_info').html(data.data);
            }
            if (data.attr == 'strategy_info') {
                $('#strategies').html(data.data);
            }
            if (data.attr == 'update_room') {
                $('#room_info').html(data.data);
            }

        });

    });

</script>

<h2>Play</h2>

<table border="1" width="100%">
  <tr>
    <td valign="top">
      <ul>Areas
        <% @areas.each do |area| %>
            <li><%= area.name %> : Level <%= area.level %></li>
        <% end %>
      </ul>
    </td>
    <td valign="top">
      <div id="room_info">
        <%= render :partial => 'games/room_info', :locals => {:player => @player} %>
      </div>
    </td>
    <td valign="top">

      <h3><%= @player.name %></h3>

      <p>Health: <span id="player_health"><%= @player.health %></span></p>

      <p>Level: <span id="player_level"><%= @player.level %></span></p>

      <div id="fights">
        <%= render :partial => 'fights', :locals => {:player => @player} %>
      </div>

      <div id="player_info">
        <%= render :partial => 'games/player_info', :locals => {:player => @player} %>
      </div>

      <div id="strategies">
        <%= render :partial => 'strategies', :locals => {:player => @player} %>
      </div>


    </td>
  </tr>
</table>