<script>
    $(function () {
        var faye = new Faye.Client('http://localhost:9292/faye');

        faye.subscribe('/player/<%= @player.id %>', function (data) {
            if (data.attr == 'level') {
                $('#player_level').text(data.data);
            }
            if (data.attr == 'health') {
                $('#player_health').text(data.data);
            }
            if (data.attr == 'player_info') {
                $('#player_info').html(data.data);
            }
            if (data.attr == 'update_room') {
                $('#room_info').html(data.data);
            }

        });

    });

</script>

<h2>Play</h2>

<table border="1" width="100%">
  <tr>
    <td valign="top">
      <ul>Areas
        <% @areas.each do |area| %>
            <li><%= area.name %> : Level <%= area.level %></li>
        <% end %>
      </ul>
    </td>
    <td valign="top">
      <div id="room_info">
        <%= render :partial => 'games/room_info', :locals => {:player => @player} %>
      </div>
    </td>
    <td valign="top">

      <h3><%= @player.name %></h3>

      <p>Health: <span id="player_health"><%= @player.health %></span></p>

      <p>Level: <span id="player_level"><%= @player.level %></span></p>

      <div id="fights">
         <%= render :partial => 'fights', :locals => {:player => @player}%>
      </div>

      <div id="player_info">
        <%= render :partial => 'games/player_info', :locals => {:player => @player} %>
      </div>

      <ul>Strategies
        <%= form_for @strategy, :remote => true do |f| %>
            <table>
              <tr>
                <th>name</th>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <th>slot 1</th>
                <td><%= f.select :slot_1, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 2</th>
                <td><%= f.select :slot_2, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 3</th>
                <td><%= f.select :slot_3, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 4</th>
                <td><%= f.select :slot_4, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 5</th>
                <td><%= f.select :slot_5, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 6</th>
                <td><%= f.select :slot_6, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 7</th>
                <td><%= f.select :slot_7, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 8</th>
                <td><%= f.select :slot_8, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 9</th>
                <td><%= f.select :slot_9, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>

              <tr>
                <th>slot 10</th>
                <td><%= f.select :slot_10, @player.attacks.collect { |a| [a.name, a.id] } %></td>
              </tr>
              <%= f.hidden_field :player_id, :value => @player.id %>
              <tr>
                <td><%= submit_tag 'Create' %></td>
                <td></td>
              </tr>

            </table>
        <% end %>
        <p>Existing</p>

        <div id="strategies">
          <%= render :partial => 'strategies', :locals => {:player => @player} %>
        </div>
      </ul>

    </td>
  </tr>
</table>